body{
  background-color: white;
  padding: 0px 100px 0px 100px;
  margin:10px 10px 10px 10px;
  text-align: left;
  font-size:20px;
  font-style: normal;
  font-family: inherit;
  font-stretch: expanded;
  font-weight: normal;

}
.citation{
  text-align: center;
}
.logo{
  width: 15%;
  height: 15%;
  text-align: left;

}
.ppe{
  width:100%;
  height:80%;

}
.safetytools{
  width:500%
  height:500%
  display:block;
  position: relative;
  left: 10%;
}

.cite{
  text-align: center;
}

.safelive{
  text-align: center;
}

.crane{
  width:100%;
  height: 60%;

}

.header{
  background-color: #F8C471 ;
  padding: 10px 0px 10px 0px;
  margin-top: 20px;
  color: Black;
  font-size: 16px;
  position: relative;



}
.header a:hover{
  background-color: orange;
}


a{
  padding: 10px;
}


}

img{
  width:120%;
  height:60%;
  padding: 80px
  border: 5px solid black;
  margin: 20px 20px 15px 0px;
}
.ppe{
  width:100%;
  height: 60%;
}
.containter{
  padding: 10px;
  border-radius: 20px;
  margin: 0px;
  text-align: right;
  display: block;
  right:3000%;
  top:100%;
}

.vision{
  font-size: 25px;
  font-style: oblique;
  background-color: #565553;
  color: white;
  text-align: center;
  padding:10px 10px 10px 10px;
}

.footerbar{

  padding: 10px 10px 10px 10px;
  display: block;
  color: white;
  text-align: left;
  background-color: #F8C471 ;
  margin: 10px
}

.footbar a:hover{
  background-color: orange;
}
h2{
  color: Black ;
  text-align: center;
}

.video{
  padding: 0px 20px 10px 50px;
  align-items: center;
  text-align: center;
}


.submit{
  padding: 10px 10px 10px 10px;
  border: black;
  color: black;
  background-color: #F8C471 ;
}
.contactform{
  text-align: center;
  width: 20%
  height:20%
}

.backgroundimage{
  background-image: url(images/city.jpeg);
}
.firstaid{
  font-size: 25px;
  font-style: oblique;
  background-color: #565553;
  color: white;
  text-align: left;
  padding:10px 10px 10px 10px;
}
 .time{
   width:8%;
   height:8%;
 }
 .booknow{
   padding: 20px 20px 20px 20px;
   margin: 20px;
   color: black;
   background-color: white;
   text-align: left;
 }

 input, textarea{
   width:400px;
   margin-top: 10px;
   margin-bottom: 30PX;
   Padding: 20px;
   font-size: 18px;
 }
